<!DOCTYPE html 
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="pl" />
    <title>www.infouslugi.pl</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="googlebot" content="index,follow" />
    <meta name="msnbot" content="index,follow" />
    <meta name="Robots" content="index, follow, all" />
    <meta name="revisit-after" content="2 days" /> 
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js" ></script> 
</head>
<body> 
    <div class="wrapper1">
        <div class="wrapper2">
            {% include "WebMainBundle::header.html.twig" %}
            <div class="wrapper3">
                {% block content %}

                {% endblock %}
            </div>
            {% include "WebMainBundle::footer.html.twig" %}
        </div>
    </div>
</body>
</html>
